<p>idea: <%= activity.owner.created_at %> | title: <%= activity.trackable.title %> | created by: <%= activity.owner.name %> | collaborators: <%= activity.trackable.collaborators.count %>
            </p>