<p>colab: <%= activity.owner.created_at %> | title: <%#= activity.trackable.user.email %> |
        role: <%#= activity.trackable.role %> | idea title: <%#= activity.trackable.idea.title %>



         </p>