<%= render 'shared/usernav' %>
<div class="container">
  <section>
    <div class="row">
      <% current_user.collaborators.each do |collab| %>
      <div class="col-md-3 text-center">
        <div class="thumbnail" style="text-align: center">
          <div class="testimonial-image">
            <%= image_tag(collab.user.avatar.thumb.url) %>
          </div>
          <div class="caption">
             <!-- [collab.idea] -->
            <p>online | <%= collab.user.email %> comments</p>
          </div>
          <div>
            <%#= link_to 'invite collaborator', users_path, class: 'btn btn-secondary' %>
          </div>
        </div>
      </div> <!-- col -->
      <% end %>
    </div> <!-- row -->
  </section> <!-- section -->
</div>