<h1>System wide Users</h1>

<% @users.each do |user| %>
  <p><%= user.email %> | <%= user.role %></p>
  <ul>Wikis:
  <% user.wikis.each do |wiki| %>
    <li><%= wiki.title %></li>
  <% end %>
  </ul>
<% end %>