<%= form_for([@idea, @comment]) do |f| %>
          <div class="form-group">
            <%#= f.hidden_field :parent_id %>
            <div class="share-widget clearfix">
              <%= f.text_area :body, class: 'form-control share-widget-textarea' %>
              <div class="share-widget-actions">
                <div class="share-widget-types pull-left">
                  <a href="javascript:;" class="fa fa-picture-o ui-tooltip" title="Post an Image"><i></i></a>
                  <a href="javascript:;" class="fa fa-video-camera ui-tooltip" title="Upload a Video"><i></i></a>
                  <a href="javascript:;" class="fa fa-lightbulb-o ui-tooltip" title="Post an Idea"><i></i></a>
                  <a href="javascript:;" class="fa fa-question-circle ui-tooltip" title="Ask a Question"><i></i></a>
                </div> 
                <div class="pull-right">
                  <%= f.submit class: 'btn btn-primary btn-sm' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>