<% if flash[:notice] %>
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Yeah!</strong><%= flash[:notice] %>
  </div>
<% elsif flash[:alert] %>
<div class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Yeah!</strong><%= flash[:alert] %>
</div>
<% elsif flash[:error] %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Yeah!</strong><%= flash[:error] %>
  </div>
<% end %>