<div class="feed-item feed-item-question">
  <div class="feed-icon">
    <i class="fa fa-lightbulb-o"></i>
  </div> <!-- /.feed-icon -->
  <div class="feed-subject">
    <p><a href="javascript:;">idea CREATOR</a> created a idea <%= @idea.title %></p>
  </div> <!-- /.feed-subject -->
  <div class="feed-content">
    <ul class="icons-list">
      <li>
        <i class="icon-li fa fa-quote-left"></i>
          <%= truncate(@idea.body, length: 100) %>
      </li>
    </ul>
  </div> <!-- /.feed-content -->
  <div class="feed-actions">
    <a href="javascript:;" class="pull-left"><i class="fa fa-thumbs-up"></i> 123</a> 
    <a href="javascript:;" class="pull-left"><i class="fa fa-comment-o"></i> <%= @idea.comments.count %></a>
    <a href="javascript:;" class="pull-right"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(@idea.created_at) %> ago</a>
  </div> <!-- /.feed-actions -->
</div> <!-- /.feed-item -->