<div class="mainnav">
  <div class="container">
    <a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse">
      <span class="sr-only">Toggle navigation</span>
      <i class="fa fa-bars"></i>
    </a>
    <nav class="collapse mainnav-collapse" role="navigation">
      <ul class="mainnav-menu">
        <li class="dropdown ">
          <%= link_to user_path(current_user) do %>
            <%= title %><!-- <i class="fa fa-search"></i> Projects -->
          <% end %>
        </li>
        <li class="dropdown pull-right">
          <%#= link_to new_wiki_path do %>
            <!-- <button class="btn btn-primary">Create New Wiki</button> --><!-- <i class="fa fa-search"></i> Projects -->
          <%# end %>
        </li>
      </ul>
    </nav>
  </div> <!-- /.container -->
</div> <!-- /.mainnav -->