<div class="masthead">
      
      <div class="container">
            <!-- starts carousel -->

        <div id="masthead-carousel" class="carousel masthead-carousel slide">
          <div class="carousel-inner">

            <div class="item active">

              <div class="row">

                <div class="col-md-6 masthead-text animated fadeInDownBig">
                  <h1 class="masthead-title">Don't feel limited to color schemes provided.</h1>

                  <p class="masthead-">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisi ut aliquip ex ea commodo consequat.
                  </p>

                  <br>

                  <div class="masthead-actions">
                    <a href="" class="btn btn-transparent btn-jumbo">
                    Learn More
                    </a>

                    <a href="users/sign_up" class="btn btn-primary btn-jumbo">
                    Create an Account
                    </a>
                  </div> <!-- /.masthead-actions -->
                </div> <!-- /.masthead-text -->

                <div class="col-md-6 masthead-img animated fadeInRightBig">
                  <form class="form masthead-form well">

                    <h3 class="text-center">Start Your Free Trial!</h3>

                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, earum.</p>

                    <br>

                    <div class="form-group">
                      <label class="" for="full_name">Full Name</label>
                      <input type="text" id="full_name" placeholder="Your Name" class="form-control">
                    </div> <!-- /.form-group -->

                    <div class="form-group">
                      <!-- <label class="" for="email_address">Email Address</label> -->
                      <input type="email" id="email_address" placeholder="Your Email" class="form-control">
                    </div> <!-- /.form-group -->

                    <div class="form-group">
                      <!-- <label class="" for="organization">Organization</label> -->
                      <input type="text" id="organization" placeholder="Organization Name" class="form-control">
                    </div> <!-- /.form-group -->

                    <div class="form-group">
                      <button type="submit" class="btn btn-secondary btn-jumbo btn-block">Get Started Today!</button>
                    </div> <!-- /.form-group -->

                  </form>     
                </div> <!-- /.masthead-img -->

              </div> <!-- /.row -->

            </div> <!-- /.item -->

          </div>  <!-- /.carousel-inner -->
          <!-- Carousel nav -->

          <!-- <div class="carousel-controls">
            <a class="carousel-control left" href="#masthead-carousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#masthead-carousel" data-slide="next">&rsaquo;</a>
          </div> -->
            
        </div> <!-- /.masthead-carousel -->

        </div>

    </div> <!-- /.masthead -->