 <div class="feed-item feed-item-question">
  <div class="feed-icon">
    <i class="fa fa-question"></i>
  </div> <!-- /.feed-icon -->
  <div class="feed-subject">
    <p><a href="javascript:;">Nikita Williams</a> posted the question: <a href="javascript:;">QUESTION TITLE?</a></p>
  </div> <!-- /.feed-subject -->
  <div class="feed-content">
    <ul class="icons-list">
      <li>
        <i class="icon-li fa fa-quote-left"></i>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
      </li>
    </ul>
  </div> <!-- /.feed-content -->
  <div class="feed-actions">
    <a href="javascript:;" class="pull-left"><i class="fa fa-thumbs-up"></i> 123</a> 
    <a href="javascript:;" class="pull-left"><i class="fa fa-comment-o"></i> 29</a>
    <a href="javascript:;" class="pull-right"><i class="fa fa-clock-o"></i> 2 days ago</a>
  </div> <!-- /.feed-actions -->
</div> <!-- /.feed-item -->