<div class="mainnav">
  <div class="container">
    <a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse">
      <span class="sr-only">Toggle navigation</span>
      <i class="fa fa-bars"></i>
    </a>
    <nav class="collapse mainnav-collapse" role="navigation">
      <ul class="mainnav-menu" id="myTab2">
        
        <li class="dropdown active">
          <a href="#home-1" data-toggle="tab"><%= @wiki.title %></a>
        </li>
        <!-- <li class="dropdown">
          <a href="#home-2" data-toggle="tab">Articles</a>
        </li> -->
        <li class="dropdown">
         <a href="#profile-2" data-toggle="tab">Comments</a>
        </li>
        <li>
          <a href="#dropdown5" data-toggle="tab">Bookmarks</a>
        </li>
        <li>
          <a href="#dropdown3" data-toggle="tab">Collaborators</a>
        </li>
        <li>
          <a href="#dropdown4" data-toggle="tab">Activity Feed</a>
        </li>
        <li class="dropdown pull-right">
          <%= link_to 'edit', edit_wiki_path(@wiki) %>
          <%#= link_to new_wiki_path do %>
            <!-- <button class="btn btn-primary">Create New Wiki</button> --><!-- <i class="fa fa-search"></i> Projects -->
          <%# end %>
        </li>
      </ul>
    </nav>
  </div> <!-- /.container -->
</div> <!-- /.mainnav -->