<div class="mainnav">
  <div class="container">
    <a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse">
      <span class="sr-only">Toggle navigation</span>
      <i class="fa fa-bars"></i>
    </a>
    <nav class="collapse mainnav-collapse" role="navigation">
      <ul class="mainnav-menu">
        <li class="dropdown ">
          <%= link_to idea_path(@idea) do %>
            idea: <%= @idea.title %>
          <% end %>
        </li>
        <li class="dropdown pull-right">
          <%= link_to idea_collaborators_path(@idea) do %>
            <button class="btn btn-primary">Add Collaborators</button>
          <% end %>
        </li>
      </ul>
    </nav>
  </div> <!-- /.container -->
</div> <!-- /.mainnav -->