<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Marketing stuff!</h1>
  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
  <p><%= link_to 'Get Started Today!', new_user_registration_path, class: 'btn btn-success' %></p>
</div>

<!-- Example row of columns -->
<div class="row text-center">
  <div class="col-lg-6">
    <h2>Create Public Wikis</h2>
    <p><%= link_to 'FREE', new_user_registration_path, class: 'btn btn-primary' %></p>
  </div>
  <div class="col-lg-6">
    <h2>Create Private Wikis</h2>
    <p><%= link_to 'PAID', new_charge_path, class: 'btn btn-primary' %></p>
 </div>
  
</div>