<%= render 'shared/content_title', title: 'Edit Wiki' %>
<div class="container">
<div class="row">
  <div class="col-md-6">
    <h1>Edit</h1>
    <hr>
    <%= render 'form' %>
  </div>
  <div class="col-md-6">
    <h1>Preview</h1>
    <div id="epiceditor">
    </div>
  </div>
</div>
</div>
