<h1><%= @wiki.title %></h1>
<p><%= markdown @wiki.information %></p>

<% if policy(@wiki).edit? %>
  <%= link_to 'edit', edit_wiki_path(@wiki) %> or 
  <%= link_to 'destroy', wiki_path(@wiki), method: :delete, data: {confirm: 'Really?'} %>
<% end %>
