<div class="feed-actions">
  <%= link_to class: 'pull-left' do %>
    <i class="fa fa-thumbs-up"></i><%= comment.points %></a>
  <% end %>     
   
  <%= link_to class: 'pull-left' do %>
    <i class="fa fa-thumbs-down"></i> 29</a>
  <% end %>

  <%= link_to class: 'pull-left' do %>
    <i class="fa fa-clock-o"></i> ago</a>
  <% end %>
</div>